@import "tailwindcss";

@theme {
  --color-cinder-50: #f4f4fb;
  --color-cinder-100: #e8e9f6;
  --color-cinder-200: #cbd0ec;
  --color-cinder-300: #9da7dc;
  --color-cinder-400: #6878c8;
  --color-cinder-500: #4558b2;
  --color-cinder-600: #334196;
  --color-cinder-700: #2b3579;
  --color-cinder-800: #272f65;
  --color-cinder-900: #252a55;
  --color-cinder-950: #090a15;
  --color-black-50: #f6f6f6;
  --color-black-100: #e7e7e7;
  --color-black-200: #d1d1d1;
  --color-black-300: #b0b0b0;
  --color-black-400: #888888;
  --color-black-500: #6d6d6d;
  --color-black-600: #5d5d5d;
  --color-black-700: #4f4f4f;
  --color-black-800: #454545;
  --color-black-900: #3d3d3d;
  --color-black-950: #000000;
}
